<style>
  label { width: 100px; vertical-align: middle;}
</style>

<h2>Add a New Place</h2>

<!--<form action="/places/create">-->
<%= form_tag "/places" do %>
  <p><label>Title:</label> <input type="text" name="title" size="30"></p>
  <p><label>Photo URL:</label> <input type="text" name="url" size="80"></p>
  <p><label>Price:</label> <input type="text" name="price"></p>
  <p><label>Description:</label></p>
  <textarea name="desc" cols="80" rows="3"></textarea>
  <p><input type="submit" value="Add Movie"></p>


<!--</form>-->
<% end %>